<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.mapper.ManagementMapper">

	<sql id="managementColumns">
		  idx
		, image
		, name
		, birthday
		, gender
		, job
		, createDate
		, isDeleted
	</sql>
	
	<select id="selectManagementList" resultType="com.management.domain.ManagementDTO">
		SELECT * FROM CUSTOMER WHERE isDeleted = 0
	</select>
	
	<insert id="insertCustomer" parameterType="com.management.domain.ManagementDTO">
		INSERT INTO CUSTOMER
		VALUES (
			NULL,
			#{image},
			#{name},
			#{birthday},
			#{gender},
			#{job},
			NOW(),
			0
		)
	</insert>
	
	<update id="deleteManagement" parameterType="Long">
		UPDATE CUSTOMER SET
		isDeleted = 1 WHERE id = #{id}
	</update>
</mapper>
