<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.mapper.admin.AdminMapper">
	<resultMap type="hashmap" id="adminListMap">
		<result column="admin_no" property="adminNo"/>
		<result column="admin_id" property="adminId"/>
		<result column="email" property="email"/>
		<result column="name" property="name"/>
		<result column="passwd" property="passwd"/>
		<result column="create_dt" property="createDt"/>
		<result column="update_dt" property="updateDt"/>
		<result column="profile_img" property="profileImg"/>
		<result column="phone_no" property="phoneNo"/>
		<result column="post_no" property="postNo"/>
		<result column="address1" property="address1"/>
		<result column="address2" property="address2"/>
		<result column="use_yn" property="useYn"/>
		<result column="sec_yn" property="secYn"/>
	</resultMap>
	
	<resultMap type="hashmap" id="memberListMap">
		<result column="member_no" property="adminNo"/>
		<result column="user_id" property="userId"/>
		<result column="email" property="email"/>
		<result column="name" property="name"/>
		<result column="passwd" property="passwd"/>
		<result column="create_dt" property="createDt"/>
		<result column="update_dt" property="updateDt"/>
		<result column="profile_img" property="profileImg"/>
		<result column="phone_no" property="phoneNo"/>
		<result column="post_no" property="postNo"/>
		<result column="address1" property="address1"/>
		<result column="address2" property="address2"/>
		<result column="use_yn" property="useYn"/>
		<result column="sec_yn" property="secYn"/>
	</resultMap>

	<select id="adminList" parameterType="hashmap" resultMap="adminListMap">
		SELECT
			admin_no,
			admin_id,
			email,
			name,
			DATE_FORMAT(create_dt, '%Y-%m-%d %T') AS create_dt,
			DATE_FORMAT(update_dt, '%Y-%m-%d %T') AS update_dt,
			profile_img,
			phone_no,
			post_no,
			address1,
			address2,
			use_yn,
			sec_yn
		FROM admin_info
		WHERE 1=1
		<if test="adminId != null and !adminId.equals('')">
			AND BINARY admin_id LIKE CONCAT('%', #{adminId}, '%')
		</if>
		<if test="email != null and !email.equals('')">
			AND email LIKE CONCAT('%', #{email}, '%')
		</if>
		<if test="name != null and !name.equals('')">
			AND name LIKE CONCAT('%', #{name}, '%')
		</if>
		<if test="phoneNo != null and !phoneNo.equals('')">
			AND phone_no = #{phoneNo}
		</if>
		<if test="adminState != null and !adminState.equals('')">
			<if test="adminState.equals('UseY')">
				AND use_yn = 'Y'
			</if>
			<if test="adminState.equals('UseN')">
				AND use_yn = 'N'
			</if>
			<if test="adminState.equals('SecY')">
				AND sec_yn = 'Y'
			</if>
			<if test="adminState.equals('SecN')">
				AND sec_yn = 'N'
			</if>
		</if>
		<if test="startDate != null and endDate != null and !startDate.equals('') and !endDate.equals('')">
			AND create_dt BETWEEN DATE(#{startDate}) AND DATE_ADD(#{endDate}, INTERVAL 1 DAY)
		</if>
		<if test="pageBegin != null and pageEnd != null">
			LIMIT #{pageBegin}, #{pageEnd}
		</if>
	</select>
	
	<select id="adminCnt" parameterType="hashmap" resultType="int">
		SELECT
			COUNT(*)
		FROM admin_info
		WHERE 1=1
		<if test="adminId != null and !adminId.equals('')">
			AND BINARY admin_id LIKE CONCAT('%', #{adminId}, '%')
		</if>
		<if test="email != null and !email.equals('')">
			AND email LIKE CONCAT('%', #{email}, '%')
		</if>
		<if test="name != null and !name.equals('')">
			AND name LIKE CONCAT('%', #{name}, '%')
		</if>
		<if test="phoneNo != null and !phoneNo.equals('')">
			AND phone_no = #{phoneNo}
		</if>
		<if test="adminState != null and !adminState.equals('')">
			<if test="adminState.equals('UseY')">
				AND use_yn = 'Y'
			</if>
			<if test="adminState.equals('UseN')">
				AND use_yn = 'N'
			</if>
			<if test="adminState.equals('SecY')">
				AND sec_yn = 'Y'
			</if>
			<if test="adminState.equals('SecN')">
				AND sec_yn = 'N'
			</if>
		</if>
		<if test="startDate != null and endDate != null and !startDate.equals('') and !endDate.equals('')">
			AND create_dt BETWEEN DATE(#{startDate}) AND DATE_ADD(#{endDate}, INTERVAL 1 DAY)
		</if>
	</select>
	
	<select id="idCheck" parameterType="hashmap" resultType="int">
		SELECT count(*) 
		FROM admin_info 
		WHERE admin_id = #{adminId}
	</select>
	
	<select id="emailCheck" parameterType="hashmap" resultType="int">
		SELECT count(*) 
		FROM admin_info 
		WHERE email = #{email}
		<if test="updateId != null and !updateId.equals('')">
			AND admin_id != #{updateId}
		</if>
	</select>
	
	<select id="phoneCheck" parameterType="hashmap" resultType="int">
		SELECT count(*) 
		FROM admin_info 
		WHERE phone_no = #{phoneNo}
		<if test="updateId != null and !updateId.equals('')">
			AND admin_id != #{updateId}
		</if>
	</select>
	
	<select id="adminUpdateList" parameterType="String" resultMap="adminListMap">
		SELECT
			name,
			email,
			phone_no,
			address1,
			address2,
			post_no,
			profile_img
		FROM admin_info
		WHERE admin_id = #{adminId}
	</select>
	
	<update id="adminUpdate" parameterType="hashmap">
		UPDATE admin_info SET
			passwd = #{passwd},
			name = #{name},
			email = #{email},
			phone_no = #{phoneNo},
			address1 = #{address1},
			address2 = #{address2},
			post_no = #{postNo},
			profile_img = #{profileImg}
		WHERE
			admin_id = #{adminId}
	</update>
	
	<select id="userList" parameterType="hashmap" resultMap="memberListMap">
		SELECT
			member_no,
			user_id,
			email,
			name,
			DATE_FORMAT(create_dt, '%Y-%m-%d %T') AS create_dt,
			DATE_FORMAT(update_dt, '%Y-%m-%d %T') AS update_dt,
			profile_img,
			phone_no,
			post_no,
			address1,
			address2,
			use_yn,
			sec_yn
		FROM member_info
		WHERE 1=1
		<if test="userId != null and !userId.equals('')">
			AND BINARY user_id = #{userId}
		</if>
		<if test="email != null and !email.equals('')">
			AND email = #{email}
		</if>
		<if test="name != null and !name.equals('')">
			AND name = #{name}
		</if>
		<if test="phoneNo != null and !phoneNo.equals('')">
			AND phone_no = #{phoneNo}
		</if>
		<if test="userState != null and !userState.equals('')">
			<if test="userState.equals('UseY')">
				AND use_yn = 'Y'
			</if>
			<if test="userState.equals('UseN')">
				AND use_yn = 'N'
			</if>
			<if test="userState.equals('SecY')">
				AND sec_yn = 'Y'
			</if>
			<if test="userState.equals('SecN')">
				AND sec_yn = 'N'
			</if>
		</if>
		<if test="startDate != null and endDate != null and !startDate.equals('') and !endDate.equals('')">
			AND create_dt BETWEEN DATE(#{startDate}) AND DATE_ADD(#{endDate}, INTERVAL 1 DAY)
		</if>
		<if test="pageBegin != null and pageEnd != null">
			LIMIT #{pageBegin}, #{pageEnd}
		</if>
	</select>
	
	<select id="userCnt" parameterType="hashmap" resultType="int">
		SELECT
			COUNT(*)
		FROM member_info
		WHERE 1=1
		<if test="userId != null and !userId.equals('')">
			AND BINARY user_id = #{userId}
		</if>
		<if test="email != null and !email.equals('')">
			AND email = #{email}
		</if>
		<if test="name != null and !name.equals('')">
			AND name = #{name}
		</if>
		<if test="phoneNo != null and !phoneNo.equals('')">
			AND phone_no = #{phoneNo}
		</if>
		<if test="userState != null and !userState.equals('')">
			<if test="userState.equals('UseY')">
				AND use_yn = 'Y'
			</if>
			<if test="userState.equals('UseN')">
				AND use_yn = 'N'
			</if>
			<if test="userState.equals('SecY')">
				AND sec_yn = 'Y'
			</if>
			<if test="userState.equals('SecN')">
				AND sec_yn = 'N'
			</if>
		</if>
		<if test="startDate != null and endDate != null and !startDate.equals('') and !endDate.equals('')">
			AND create_dt BETWEEN DATE(#{startDate}) AND DATE_ADD(#{endDate}, INTERVAL 1 DAY)
		</if>
		<if test="pageBegin != null and pageEnd != null">
			LIMIT #{pageBegin}, #{pageEnd}
		</if>
	</select>
	
	<select id="userIdCheck" parameterType="hashmap" resultType="int">
		SELECT count(*) 
		FROM member_info 
		WHERE user_id = #{userId}
	</select>
	
	<select id="userEmailCheck" parameterType="hashmap" resultType="int">
		SELECT count(*) 
		FROM member_info 
		WHERE email = #{email}
		<if test="updateId != null and !updateId.equals('')">
			AND user_id != #{updateId}
		</if>
	</select>
	
	<select id="userPhoneCheck" parameterType="hashmap" resultType="int">
		SELECT count(*) 
		FROM member_info 
		WHERE phone_no = #{phoneNo}
		<if test="updateId != null and !updateId.equals('')">
			AND user_id != #{updateId}
		</if>
	</select>
	
	<select id="pwCheck" parameterType="hashmap" resultType="String">
		SELECT passwd FROM admin_info 
		WHERE 1=1 AND
		<if test="adminId != null and !adminId.equals('')">
			admin_id=#{adminId}
		</if>
		<if test="email != null and !email.equals('')">
			email=#{email}
		</if>
	</select>
	
	<select id="loginCheck" parameterType="com.management.domain.model.Admin" resultType="Boolean">
		SELECT IF(SUM(admin_no) > 0 ,'true', 'false') as name FROM admin_info 
		WHERE 1=1 
		<if test="adminId != null and !adminId.equals('')">
			AND admin_id=#{adminId}
		</if>
		<if test="email != null and !email.equals('')">
			AND email=#{email}
		</if>
		AND passwd=#{passwd}
	</select>
	
	<select id="viewMember" parameterType="hashmap" resultMap="adminListMap">
		SELECT 
			admin_no
			,create_dt
			,email
			,name
			,passwd
			,update_dt
			,admin_id
			,profile_img
			,phone_no
			,post_no
			,address1
			,address2
		FROM admin_info
		WHERE 1=1 
		<if test="adminNo != null">
			AND admin_no = #{adminNo}
		</if>
		<if test="adminId != null and !adminId.equals('')">
			AND admin_id=#{adminId}
		</if>
		<if test="email != null and !email.equals('')">
			AND email=#{email}
		</if>
	</select>
	
	<update id="adminSec" parameterType="long">
		UPDATE admin_info SET
			use_yn = 'N',
			sec_yn = 'Y'
		WHERE admin_no = #{adminNo}
	</update>
	
	<update id="adminRestore" parameterType="long">
		UPDATE admin_info SET
			use_yn = 'Y',
			sec_yn = 'N'
		WHERE admin_no = #{adminNo}
	</update>
</mapper>
