<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.mapper.admin.MenuMapper">
	<resultMap type="hashmap" id="selectMap">
		<result column="menu_cd" property="menuCd"/>
		<result column="upper_menu_cd" property="upperMenuCd"/>
		<result column="menu_icon" property="menuIcon"/>
		<result column="menu_lvl" property="menuLvl"/>
		<result column="menu_nm" property="menuNm"/>
		<result column="menu_ordr" property="menuOrdr"/>
		<result column="path_src" property="pathSrc"/>
		<result column="create_dt" property="createDt"/>
		<result column="update_dt" property="updateDt"/>
		<result column="update_yn" property="updateYn"/>
		<result column="use_yn" property="useYn"/>
		<result column="del_yn" property="delYn"/>
	</resultMap>
	
	<select id="menuList" parameterType="hashmap" resultMap="selectMap">
		SELECT
			menu_cd,
			upper_menu_cd,
			menu_lvl,
			menu_nm,
			menu_ordr,
			path_src,
			menu_icon,
			create_dt,
			update_dt,
			update_yn,
			use_yn,
			del_yn
		FROM ft_menu
		WHERE 1=1
		<if test="menuCd != null and !menuCd.equals('')">
			AND menu_cd LIKE CONCAT('%', #{menuCd}, '%')
		</if>
		<if test="upperMenuCd != null and !upperMenuCd.equals('')">
			AND upper_menu_cd LIKE CONCAT('%', #{upperMenuCd}, '%')
		</if>
		<if test="menuNm != null and !menuNm.equals('')">
			AND menu_nm LIKE CONCAT('%', #{menuNm}, '%')
		</if>
		<if test="menuLvl != null and !menuLvl.equals('')">
			AND menu_lvl LIKE CONCAT('%', #{menuLvl}, '%')
		</if>
		<if test="menuOrdr != null and !menuOrdr.equals('')">
			AND menu_ordr LIKE CONCAT('%', #{menuOrdr}, '%')
		</if>
		<if test="pathSrc != null and !pathSrc.equals('')">
			AND path_src LIKE CONCAT('%', #{pathSrc}, '%')
		</if>
		<if test="menuState != null and !menuState.equals('')">
			<if test="menuState.equals('DelY')">
				AND del_yn = 'Y'
			</if>
			<if test="menuState.equals('DelN')">
				AND del_yn = 'N'
			</if>
			<if test="menuState.equals('UpdateY')">
				AND update_yn = 'Y'
			</if>
			<if test="menuState.equals('UpdateN')">
				AND update_yn = 'N'
			</if>
		</if>
		<if test="createStartDate != null and createEndDate != null and !createStartDate.equals('') and !createEndDate.equals('')">
			AND create_dt BETWEEN DATE(#{createStartDate}) AND DATE_ADD(#{createEndDate}, INTERVAL 1 DAY)
		</if>
		<if test="updateStartDate != null and updateEndDate != null and !updateStartDate.equals('') and !updateEndDate.equals('')">
			AND update_dt BETWEEN DATE(#{updateStartDate}) AND DATE_ADD(#{updateEndDate}, INTERVAL 1 DAY)
		</if>
		
		ORDER BY menu_cd, menu_ordr
		
		<if test="pageBegin != null and pageEnd != null">
			LIMIT #{pageBegin}, #{pageEnd}
		</if>
	</select>
	
	<select id="menuCnt" parameterType="hashmap" resultType="int">
		SELECT
			COUNT(*)
		FROM ft_menu
		WHERE 1=1
		<if test="menuCd != null and !menuCd.equals('')">
			AND menu_cd LIKE CONCAT('%', #{menuCd}, '%')
		</if>
		<if test="upperMenuCd != null and !upperMenuCd.equals('')">
			AND upper_menu_cd LIKE CONCAT('%', #{upperMenuCd}, '%')
		</if>
		<if test="menuNm != null and !menuNm.equals('')">
			AND menu_nm LIKE CONCAT('%', #{menuNm}, '%')
		</if>
		<if test="menuLvl != null and !menuLvl.equals('')">
			AND menu_lvl LIKE CONCAT('%', #{menuLvl}, '%')
		</if>
		<if test="menuOrdr != null and !menuOrdr.equals('')">
			AND menu_ordr LIKE CONCAT('%', #{menuOrdr}, '%')
		</if>
		<if test="pathSrc != null and !pathSrc.equals('')">
			AND path_src LIKE CONCAT('%', #{pathSrc}, '%')
		</if>
		<if test="menuState != null and !menuState.equals('')">
			<if test="menuState.equals('DelY')">
				AND del_yn = 'Y'
			</if>
			<if test="menuState.equals('DelN')">
				AND del_yn = 'N'
			</if>
			<if test="menuState.equals('UpdateY')">
				AND update_yn = 'Y'
			</if>
			<if test="menuState.equals('UpdateN')">
				AND update_yn = 'N'
			</if>
		</if>
		<if test="createStartDate != null and createEndDate != null and !createStartDate.equals('') and !createEndDate.equals('')">
			AND create_dt BETWEEN DATE(#{createStartDate}) AND DATE_ADD(#{createEndDate}, INTERVAL 1 DAY)
		</if>
		<if test="updateStartDate != null and updateEndDate != null and !updateStartDate.equals('') and !updateEndDate.equals('')">
			AND update_dt BETWEEN DATE(#{updateStartDate}) AND DATE_ADD(#{updateEndDate}, INTERVAL 1 DAY)
		</if>
	</select>
	
	<update id="menuUpdate" parameterType="hashmap">
		UPDATE ft_menu SET
			menu_cd = #{menuCd},
			<if test="!upperMenuCd.equals('undefined') and upperMenuCd != null">
				upper_menu_cd = #{upperMenuCd},
			</if>
			<if test="!menuNm.equals('undefined') and menuNm != null">
				menu_nm = #{menuNm},
			</if>
			<if test="!menuOrdr.equals('undefined') and menuOrdr != null">
				menu_ordr = #{menuOrdr},
			</if>
			<if test="!menuLvl.equals('undefined') and menuLvl != null">
				menu_lvl = #{menuLvl},
			</if>
			<if test="!pathSrc.equals('undefined') and pathSrc != null">
				path_src = #{pathSrc},
			</if>
			<if test="menuIcon != null and !menuIcon.equals('')">
				menu_icon = #{menuIcon},
			</if>
			update_dt = SYSDATE(),
			update_yn = 'Y'
		WHERE menu_cd = #{menuCd}
	</update>
	
	<update id="menuDelete" parameterType="String">
		UPDATE ft_menu SET
			del_yn = 'Y',
			use_yn = 'N',
			update_dt = SYSDATE()
		WHERE menu_cd = #{menuCd}
	</update>
	
	<update id="menuRestore" parameterType="String">
		UPDATE ft_menu SET
			del_yn = 'N',
			use_yn = 'Y',
			update_dt = SYSDATE()
		WHERE menu_cd = #{menuCd}
	</update>
	
	<select id="dupMenuCdCheck" parameterType="String" resultType="boolean">
		SELECT IF(SUM(menu_cd) > 0 ,'true', 'false') 
		FROM ft_menu 
		WHERE menu_cd = REPLACE(#{menuCd}, CHAR(9), '')
	</select>
	
	<insert id="createMenu" parameterType="hashmap">
		INSERT INTO ft_menu (
			menu_cd,
			upper_menu_cd,
			menu_nm,
			menu_lvl,
			menu_ordr,
			path_src,
			menu_icon,
			create_dt,
			use_yn,
			del_yn,
			update_yn
		) VALUES (
			#{menuCd},
			#{upperMenuCd},
			#{menuNm},
			#{menuLvl},
			#{menuOrdr},
			#{pathSrc},
			#{menuIcon},
			SYSDATE(),
			'Y',
			'N',
			'N'
		)
	</insert>
</mapper>
