<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.mapper.admin.NoticeMapper">
	<resultMap type="hashmap" id="noticeListMap">
		<result column="notice_no" property="noticeNo"/>
		<result column="content" property="content"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="create_dt" property="createDt"/>
		<result column="update_dt" property="updateDt"/>
		<result column="use_yn" property="useYn"/>
		<result column="del_yn" property="delYn"/>
		<result column="update_yn" property="updateYn"/>
		<result column="b_kinds_no" property="bKindsNo"/>
		<result column="brd_code" property="brdCode"/>
		<result column="show_text" property="showText"/>
	</resultMap>
	
	<select id="noticeList" parameterType="hashmap" resultMap="noticeListMap">
		SELECT
			n.notice_no,
			n.content,
			n.title,
			n.writer,
			DATE_FORMAT(n.create_dt, '%Y-%m-%d %T') AS create_dt,
			DATE_FORMAT(n.update_dt, '%Y-%m-%d %T') AS update_dt,
			n.del_yn,
			n.use_yn,
			n.update_yn,
			k.b_kinds_no,
			k.brd_code,
			k.show_text
		FROM notice n INNER JOIN board_kinds k
		ON n.brd_code = k.brd_code
		WHERE 1=1
		<if test="noticeNo != null and !noticeNo.equals('')">
			AND BINARY n.notice_no = #{noticeNo}
		</if>
		<if test="content != null and !content.equals('')">
			AND n.content LIKE CONCAT('%', #{content}, '%')
		</if>
		<if test="title != null and !title.equals('')">
			AND n.title LIKE CONCAT('%', #{title}, '%')
		</if>
		<if test="writer != null and !writer.equals('')">
			AND n.writer LIKE CONCAT('%', #{writer}, '%')
		</if>
		<if test="noticeState != null and !noticeState.equals('')">
			<if test="noticeState.equals('DelY')">
				AND n.del_yn = 'Y'
			</if>
			<if test="noticeState.equals('DelN')">
				AND n.del_yn = 'N'
			</if>
			<if test="noticeState.equals('UpdateY')">
				AND n.update_yn = 'Y'
			</if>
			<if test="noticeState.equals('UpdateN')">
				AND n.update_yn = 'N'
			</if>
		</if>
		<if test="createStartDate != null and createEndDate != null and !createStartDate.equals('') and !createEndDate.equals('')">
			AND n.create_dt BETWEEN DATE(#{createStartDate}) AND DATE_ADD(#{createEndDate}, INTERVAL 1 DAY)
		</if>
		<if test="updateStartDate != null and updateEndDate != null and !updateStartDate.equals('') and !updateEndDate.equals('')">
			AND n.update_dt BETWEEN DATE(#{updateStartDate}) AND DATE_ADD(#{updateEndDate}, INTERVAL 1 DAY)
		</if>
		
		<if test="brdCode != null and !brdCode.equals('')">
			AND n.brd_code = #{brdCode}
		</if>
		
		ORDER BY n.notice_no DESC
		
		<if test="pageBegin != null and pageEnd != null">
			LIMIT #{pageBegin}, #{pageEnd}
		</if>
	</select>
	
	<select id="noticeCnt" parameterType="hashmap" resultType="int">
		SELECT
			COUNT(*)
		FROM notice n INNER JOIN board_kinds k
		ON n.brd_code = k.brd_code
		WHERE 1=1
		<if test="noticeNo != null and !noticeNo.equals('')">
			AND BINARY n.notice_no = #{noticeNo}
		</if>
		<if test="content != null and !content.equals('')">
			AND n.content LIKE CONCAT('%', #{content}, '%')
		</if>
		<if test="title != null and !title.equals('')">
			AND n.title LIKE CONCAT('%', #{title}, '%')
		</if>
		<if test="writer != null and !writer.equals('')">
			AND n.writer LIKE CONCAT('%', #{writer}, '%')
		</if>
		<if test="noticeState != null and !noticeState.equals('')">
			<if test="noticeState.equals('DelY')">
				AND n.del_yn = 'Y'
			</if>
			<if test="noticeState.equals('DelN')">
				AND n.del_yn = 'N'
			</if>
			<if test="noticeState.equals('UpdateY')">
				AND n.update_yn = 'Y'
			</if>
			<if test="noticeState.equals('UpdateN')">
				AND n.update_yn = 'N'
			</if>
		</if>
		<if test="createStartDate != null and createEndDate != null and !createStartDate.equals('') and !createEndDate.equals('')">
			AND n.create_dt BETWEEN DATE(#{createStartDate}) AND DATE_ADD(#{createEndDate}, INTERVAL 1 DAY)
		</if>
		<if test="updateStartDate != null and updateEndDate != null and !updateStartDate.equals('') and !updateEndDate.equals('')">
			AND n.update_dt BETWEEN DATE(#{updateStartDate}) AND DATE_ADD(#{updateEndDate}, INTERVAL 1 DAY)
		</if>
		
		<if test="brdCode != null and !brdCode.equals('')">
			AND n.brd_code = #{brdCode}
		</if>
	</select>
	
	<update id="noticeDelete" parameterType="long">
		UPDATE notice SET
			use_yn = 'N',
			del_yn = 'Y',
			update_dt = SYSDATE()
		WHERE notice_no = #{noticeNo}
	</update>
	
	<update id="noticeRestore" parameterType="long">
		UPDATE notice SET
			use_yn = 'Y',
			del_yn = 'N',
			update_dt = SYSDATE()
		WHERE notice_no = #{noticeNo}
	</update>
	
	<select id="noticeUpdateList" parameterType="Long" resultType="hashmap">
		SELECT
			n.title,
        	n.content,
        	k.brd_code as brdCode,
        	a.name,
        	a.profile_img as profileImg,
        	a.admin_no as adminNo
        FROM notice n INNER JOIN board_kinds k
        ON n.brd_code = k.brd_code
        INNER JOIN admin_info a
        ON n.writer_no = a.admin_no
        WHERE n.notice_no = #{noticeNo}
	</select>
	
	<update id="updateNotice" parameterType="hashmap">
		UPDATE notice SET
			title = #{title},
			content = #{content},
			brd_code = #{brdCode},
			update_yn = 'Y',
			update_dt = NOW()
		WHERE notice_no = #{noticeNo}
	</update>
</mapper>
