<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.mapper.board.BoardMapper">
	<resultMap type="hashmap" id="selectMap">
		<result column="bno" property="bno"/>
		<result column="b_kinds" property="bKinds"/>
		<result column="create_dt" property="createDt"/>
		<result column="update_dt" property="updateDt"/>
		<result column="content" property="content"/>
		<result column="name" property="name"/>
		<result column="update_yn" property="updateYn"/>
		<result column="viewcnt" property="viewcnt"/>
		<result column="writer" property="writer"/>
	</resultMap>
	<resultMap type="com.management.domain.model.Board" id="selectList">
		<result column="bno" property="bno"/>
		<result column="b_kinds" property="bKinds"/>
		<result column="create_dt" property="createDt"/>
		<result column="update_dt" property="updateDt"/>
		<result column="content" property="content"/>
		<result column="name" property="name"/>
		<result column="update_yn" property="updateYn"/>
		<result column="viewcnt" property="viewcnt"/>
		<result column="writer" property="writer"/>
		<result column="writer_no" property="writerNo"/>
	</resultMap>
	
	<select id="boardList" parameterType="hashmap" resultType="hashmap">
		SELECT 
			b.bno,
			b.content,
			b.create_dt as createDt,
			b.update_dt as updateDt,
			b.title,
			b.update_yn as updateYn,
			b.viewcnt,
			b.writer,
			b.writer_no as writerNo,
			b.write_yn as writeYn,
			b.brd_code as bKinds,
			m.profile_img as profileImg,
			k.show_text as showText,
			k.brd_text as brdText
		FROM 
		board b INNER JOIN member_info m
		ON b.writer_no = m.member_no
		INNER JOIN board_kinds k
		ON b.brd_code = k.brd_code
		AND b.use_yn = 'Y'
		AND del_yn = 'N'
		<if test="brdText != null and !brdText.equals('')">
			AND k.brd_code = (SELECT brd_code FROM board_kinds WHERE brd_text = #{brdText})
		</if>
		<if test="bno != null">
			AND bno = #{bno}
		</if>
		
		ORDER BY b.bno DESC
		
		<if test="start != null and end != null">
			LIMIT #{start}, #{end}
		</if>
	</select>
	
	<select id="getViewcnt" parameterType="Long" resultType="Long">
		SELECT viewcnt FROM board WHERE bno = #{bno}
	</select>
	
	<update id="deleteBoard" parameterType="Long">
		UPDATE board SET
			del_yn = 'Y',
			use_yn = 'N',
			update_dt = SYSDATE()
		WHERE 1=1 
		<if test="bno != null">
			AND bno = #{bno}
		</if>
		
	</update>
	
	<update id="updateBoard" parameterType="com.management.domain.model.Board">
		UPDATE board SET
			<if test="title != null and !title.equals('')">
				title = #{title},
			</if>
			<if test="content != null and !content.equals('')">
				content = #{content},
			</if>
			<if test="brdCode != null and !brdCode.equals('')">
				brd_code = #{brdCode},
			</if>
			<if test="updateYn != null and !updateYn.equals('')">
				update_yn = #{updateYn},
			</if>
			<if test="title != null and !title.equals('')">
				update_dt = SYSDATE()
			</if>
			<if test="viewcnt != null">
				viewcnt = #{viewcnt} + 1
			</if>
			<if test="writer != null and !writer.equals('')">
				writer = #{writer}
			</if>
		WHERE 1=1
		<if test="bno != null">
			AND bno = #{bno}
		</if>
		<if test="writerNo != null">
			AND writer_no = #{writerNo}
		</if>
	</update>
	
	<select id="boardCount" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM board 
		WHERE 
		brd_code = (SELECT brd_code FROM board_kinds WHERE brd_text = #{brdText})
		AND use_yn = 'Y'
		AND del_yn = 'N'
	</select>
	
	<select id="getFileUrl" parameterType="com.management.domain.model.Upload" resultType="String">
		SELECT file_url as fileUrl
		FROM upload
		WHERE 1=1
		<if test="memberNo != null and !memberNo.equals('')">
			AND member_no = #{memberNo}
		</if>
		<if test="adminNo != null and !adminNo.equals('')">
			AND admin_no = #{adminNo}
		</if>
		AND upload_cd = #{uploadCd}
	</select>
	
	<select id="noticeList" parameterType="hashmap" resultType="hashmap">
		SELECT 
			n.notice_no as noticeNo,
			n.content,
			n.create_dt as createDt,
			n.update_dt as updateDt,
			n.title,
			n.update_yn as updateYn,
			n.viewcnt,
			n.writer,
			n.writer_no as writerNo,
			n.write_yn as writeYn,
			n.brd_code as bKinds,
			a.profile_img as profileImg,
			k.show_text as showText,
			k.brd_text as brdText
		FROM 
		notice n INNER JOIN admin_info a
		ON n.writer_no = a.admin_no
		INNER JOIN board_kinds k
		ON n.brd_code = k.brd_code
		AND n.use_yn = 'Y'
		AND del_yn = 'N'
		<if test="brdText != null and !brdText.equals('')">
			AND k.brd_code = (SELECT brd_code FROM board_kinds WHERE brd_text = #{brdText})
		</if>
		<if test="noticeNo != null">
			AND notice_no = #{noticeNo}
		</if>
		
		ORDER BY n.notice_no DESC
			
	</select>
	
	<update id="updateNotice" parameterType="com.management.domain.model.Notice">
		UPDATE notice SET
			<if test="title != null and !title.equals('')">
				title = #{title},
			</if>
			<if test="content != null and !content.equals('')">
				content = #{content},
			</if>
			<if test="brdCode != null and !brdCode.equals('')">
				brd_code = #{brdCode},
			</if>
			<if test="updateYn != null and !updateYn.equals('')">
				update_yn = #{updateYn},
			</if>
			<if test="title != null and !title.equals('')">
				update_dt = SYSDATE()
			</if>
			<if test="viewcnt != null">
				viewcnt = #{viewcnt} + 1
			</if>
			<if test="writer != null and !writer.equals('')">
				writer = #{writer}
			</if>
		WHERE 1=1
		<if test="noticeNo != null">
			AND notice_no = #{noticeNo}
		</if>
		<if test="writerNo != null">
			AND writer_no = #{writerNo}
		</if>
	</update>
	
	<select id="getNoticeViewCnt" parameterType="Long" resultType="Long">
		SELECT viewcnt FROM notice WHERE notice_no = #{noticeNo}
	</select>
	
	<select id="getBoardKind" resultType="hashmap">
		SELECT brd_text as brdText
		FROM board_kinds;
	</select>
	
	<select id="selectLowerBoardKind" resultType="hashmap">
		SELECT
			b_kinds_no as bKindsNo,
			brd_code as brdCode,
			brd_text as brdText,
			show_text as showText
		FROM board_kinds WHERE b_kinds_no = (SELECT MAX(b_kinds_no) FROM board_kinds)
	</select>
	
	<select id="dupPathCheck" parameterType="String" resultType="boolean">
		SELECT IF(SUM(b_kinds_no) > 0 ,'true', 'false') FROM board_kinds WHERE brd_text = #{pathSrc}
	</select>
</mapper>
