<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.mapper.reply.ReplyMapper">
	<select id="replyList" parameterType="hashmap" resultType="hashmap">
		SELECT
			r.rcd,
			r.bno,
			r.rno,
			r.create_dt as createDt,
			r.update_dt as updateDt,
			r.replyer,
			r.replyer_no as replyerNo,
			r.reply_text as replyText,
			r.update_yn as updateYn,
			r.write_yn as writeYn,
			r.like_cnt as likeCnt,
			r.hate_cnt as hateCnt,
			m.profile_img as avatar
		FROM reply r 
		INNER JOIN member_info m 
		ON r.replyer_no = m.member_no
		WHERE 1=1
		AND r.use_yn = 'Y'
		AND r.del_yn = 'N'
		<if test="bno != null">
			AND r.bno = #{bno}
		</if>
		ORDER BY r.rcd
	</select>
	
	<select id="confirmLike" parameterType="hashmap" resultType="hashmap">
		SELECT
			member_no as likeMember,
			like_yn as likeYn
		FROM like_reply
		WHERE 1=1
			AND member_no = #{memberNo}
			AND rcd = #{rcd}
			AND use_yn = 'Y'
	</select>
	
	<select id="confirmHate" parameterType="hashmap" resultType="hashmap">
		SELECT
			member_no as hateMember,
			hate_yn as hateYn
		FROM hate_reply
		WHERE 1=1
			AND member_no = #{memberNo}
			AND rcd = #{rcd}
			AND use_yn = 'Y'
	</select>
	
	<select id="likeCnt" parameterType="hashmap" resultType="long">
		SELECT like_cnt
		FROM reply
		WHERE rcd = #{rcd}
	</select>
	
	<select id="hateCnt" parameterType="hashmap" resultType="long">
		SELECT hate_cnt
		FROM reply
		WHERE rcd = #{rcd}
	</select>
	
	<select id="getLikeState" parameterType="hashmap" resultType="hashmap">
		SELECT 
			r.like_cnt as likeCnt
			, r.hate_cnt as hateCnt
			, l.member_no as likeMember
			, l.like_yn as likeYn
		FROM reply r 
			INNER JOIN like_reply l
			ON r.rcd = l.rcd
		WHERE 1=1
			AND l.use_yn = 'Y'
			AND l.rcd = #{rcd}
			AND l.member_no = #{memberNo}
			<if test="likeNo != null">
				AND l.like_no = #{likeNo}
			</if>
	</select>
	
	<select id="getHateState" parameterType="hashmap" resultType="hashmap">
		SELECT 
			r.like_cnt as likeCnt
			, r.hate_cnt as hateCnt
			, h.member_no as hateMember
			, h.hate_yn as hateYn
		FROM reply r 
			INNER JOIN hate_reply h
			ON r.rcd = h.rcd
		WHERE 1=1
			AND h.use_yn = 'Y'
			AND h.rcd = #{rcd}
			AND h.member_no = #{memberNo}
			<if test="hateNo != null">
				AND h.hate_no = #{hateNo}
			</if>
	</select>
	
	<select id="selectMaxRno" parameterType="Integer" resultType="Integer">
		SELECT ifnull(max(rno), 0) as rno FROM reply WHERE bno = #{bno}
	</select>
	
	<update id="deletePrevLike" parameterType="hashmap">
		UPDATE like_reply SET
			use_yn = 'N',
			del_yn = 'Y'
		WHERE like_no != #{likeNo}
		AND rcd = #{rcd}
		AND member_no = #{memberNo}
		AND use_yn = 'Y'
		AND del_yn = 'N'
	</update>
	
	<update id="deletePrevHate" parameterType="hashmap">
		UPDATE hate_reply SET
			use_yn = 'N',
			del_yn = 'Y'
		WHERE hate_no != #{hateNo}
		AND rcd = #{rcd}
		AND member_no = #{memberNo}
		AND use_yn = 'Y'
		AND del_yn = 'N'
	</update>
	
	<update id="hateDownLikeUp" parameterType="hashmap">
		UPDATE reply SET 
			hate_cnt = #{hateCnt},
			like_cnt = #{likeCnt}
		WHERE
			replyer_no = #{replyerNo}
			AND rcd = #{rcd}
	</update>
	
	<update id="likeDownHateUp" parameterType="hashmap">
		UPDATE reply SET 
			hate_cnt = #{hateCnt},
			like_cnt = #{likeCnt}
		WHERE
			replyer_no = #{replyerNo}
			AND rcd = #{rcd}
	</update>
	
	<update id="likeUp" parameterType="hashmap">
		UPDATE reply SET 
			like_cnt = #{likeCnt}
		WHERE
			replyer_no = #{replyerNo}
			AND rcd = #{rcd}
	</update>
	
	<update id="likeDown" parameterType="hashmap">
		UPDATE reply SET 
			like_cnt = #{likeCnt}
		WHERE
			replyer_no = #{replyerNo}
			AND rcd = #{rcd}
	</update>
	
	<update id="hateUp" parameterType="hashmap">
		UPDATE reply SET 
			hate_cnt = #{hateCnt}
		WHERE
			replyer_no = #{replyerNo}
			AND rcd = #{rcd}
	</update>
	
	<update id="hateDown" parameterType="hashmap">
		UPDATE reply SET 
			hate_cnt = #{hateCnt}
		WHERE
			replyer_no = #{replyerNo}
			AND rcd = #{rcd}
	</update>
	
	<update id="deleteReply" parameterType="Long">
		UPDATE reply SET
			use_yn = 'N',
			del_yn = 'Y',
			update_dt = SYSDATE()
		WHERE rcd = #{rcd}
	</update>
	
	<update id="deleteLike" parameterType="Long">
		UPDATE like_reply SET
			use_yn = 'N',
			del_yn = 'Y',
			update_dt = SYSDATE()
		WHERE rcd = #{rcd}
	</update>
	
	<update id="deleteHate" parameterType="Long">
		UPDATE hate_reply SET
			use_yn = 'N',
			del_yn = 'Y',
			update_dt = SYSDATE()
		WHERE rcd = #{rcd}
	</update>
	
	<select id="getReplyForm" parameterType="Long" resultType="String">
		SELECT reply_text
		FROM reply
		WHERE rcd = #{rcd}
	</select>
	
	<update id="updateReply" parameterType="hashmap">
		UPDATE reply SET
			reply_text = #{replyText},
			update_yn = 'Y',
			update_dt = SYSDATE()
		WHERE rcd = #{rcd}
	</update>
</mapper>
